@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Address........<br />
    Address........<br />
    <abbr title="Phone">P:</abbr>
    +90 312 555 55 55
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@vhselektronik.com.tr">Support@vhselektronik.com.tr</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@vhselektronik.com.tr">Marketing@vhselektronik.com.tr</a>
</address>
